#ifndef CONFIG_H
#define CONFIG_H

#include <string>
#include <map>
#include <windows.h>

// Correct way for constants
inline int SLEEP = @SLEEP_VALUE@;

const LPCWSTR USER_AGENT = L"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36";

constexpr LPCWSTR CONTENT_TYPE = L"Content-Type: application/json\r\n";
constexpr LPCWSTR POST_VERB = L"POST";

// Correct way for map
const std::map<std::wstring, int> CALLBACKS = @CALLBACKS_MAP@;


#endif // CONFIG_H
